body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;

  @media (max-width: 440px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header-logo {
    @media (max-width: 440px) {
      margin-bottom: 18px;
      display: flex;
      justify-content: center;
    }
  }

  .header-user-actions {
    display: flex;
    flex-direction: row;

    @media (max-width: 440px) {
      justify-content: center;
    }

    div {
      display: flex;
      align-items: center;
      margin-right: 20px;

      @media (max-width: 440px) {
        justify-content: center;
      }
    }
  }
}

.call-table-section {
  display: flex;

  @media (max-width: 850px) {
    flex-direction: column;
  }

  #leftMenu {
    border: 1px solid black;
    width: 250px;

    @media (max-width: 850px) {
      width: 100%;
    }

    @media (max-width: 440px) {
      width: 100%;
    }

    .dx-tabs-wrapper {
      display: flex !important;
      flex-direction: column;
      width: 100%;

      @media (max-width: 850px) {
        flex-direction: row;
      }

      @media (max-width: 440px) {
        flex-direction: column;
      }

      .dx-item {
        width: 100%;
      }
    }
  }

  #rightTable {
    border: 1px solid black;
    width: 100%;
  }
}

.list-of-call-content {
  padding-right: 8px;
  padding-left: 8px;

  .title {
    border-bottom: 1px solid black;
  }

  .list-of-call-actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 12px;
    button {
      margin-right: 12px;
    }
  }
}
